@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&family=Noto+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #f2cc0d;
  --color-background-light: #fcfbf8;
  --color-background-dark: #221f10;
  --color-text-dark: #1c190d;
  --color-text-muted: #9c8e49;
  
  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-body: "Noto Sans", sans-serif;
  
  --radius: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-full: 9999px;
}

/* Custom Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 20px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #374151;
}

.nav-item-highlight {
  position: relative;
}

.nav-item-highlight::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}

.nav-item-highlight:hover::after {
  width: 100%;
}

.group:hover .group-hover\:block {
  display: block;
}